@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    background: rgb(6,44,67);
    background: radial-gradient(circle, rgba(6,44,67,1) 0%, rgba(6,44,67,1) 31%, rgba(85,145,169,1) 100%);

    background-image: url("/static/img/nasa-cIX5TlQ_FgM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position:  top;
    background-size: auto auto;
    background-color: rgb(6,44,67);
}

.header_container {
    background: rgb(6,44,67);
    background: linear-gradient(90deg, rgba(6,44,67,0.8) 0%, rgba(6,44,67,0.8) 31%, rgba(85,145,169,0.8) 100%);
    min-height: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.action_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#potriat {
    max-width: 100%;
    max-height:100%;
}

.banner {
    font-family: "Syne Mono", monospace;
    font-size: 600%;
    color: #ced7e0;
}


.main {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.rules {
    background: rgb(6,44,67);
    background: linear-gradient(0deg, rgba(6,44,67,0.9) 0%, rgba(6,44,67,0.9) 31%, rgba(85,145,169,0.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    padding: 1em;
    padding-left: 20em;
    padding-right: 20em;
    margin: 2em;
    font-family: "Syne Mono", monospace;
    font-size: 100%;
    color: #ced7e0;
}

.lobby {
    background: rgb(6,44,67);
    background: linear-gradient(0deg, rgba(6,44,67,0.9) 0%, rgba(6,44,67,0.9) 31%, rgba(85,145,169,0.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90em;
    min-width: 90em;
    overflow-wrap: break-word;
    padding: 1em;
    padding-left: 20em;
    padding-right: 20em;
    margin: 2em;
    font-family: "Syne Mono", monospace;
    font-size: 100%;
    color: #ced7e0;
}

.game {
    background: rgb(6,44,67);
    background: linear-gradient(0deg, rgba(6,44,67,0.9) 0%, rgba(6,44,67,0.9) 31%, rgba(85,145,169,0.9) 100%);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    max-width: max-content;
    min-width: 90em;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    margin: 3em;
    font-family: "Syne Mono", monospace;
    font-size: 100%;
    color: #ced7e0;
}

#room {
    width: 6em;
    background-color: #ced7e0; 

}

/******* Potriat ********/

#portrait {
    text-align: center;
    width: 250px;
    margin-top: -100px;
    margin-left: -100px;
    margin-right: 10px;

}

#portrait_img {
    border-radius: 50%;
    border: 10px outset silver;
    height: 350px;
    width: 225px;

}

#portrait_name {
    color: #ced7e0; 
}

/******* Cards ********/

#flex-cards {
    justify-content: space-between;
    margin: 10px;

}

.grey{
    filter: grayscale(100%);
}

.equipment_cards {
    width: 240px;
    height: 300px;
    border: #124d77 solid 5px;
}

/* #equipment_Laser_Rifle {
    opacity: 100;
} */

/* #equipment_Helmet {
    filter: none;
} */

/* #equipment_2 {
    filter: none;
}

#equipment_3 {
    filter: none;
}

#equipment_4 {
    filter: none;
}

#equipment_5 {
    filter: none;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container {
    position: relative;
    width: 50%;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#deck-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: flex-end;
    position: relative;
    text-align: center;
    color: gold;
    font-size: 3em;
    
}

.deck {
    margin: 40px;
    width: 300px;
    height: 400px;
    border: gold 2px solid;
}

.top-right {
    position: absolute;
    top: 40px;
    right: 60px;
}

.bottom {
    position: absolute;
    top: 80%;
    right: 10px;
    transform: translate(-50%, -50%);
}

.centered {
    position: absolute;
    top: 50%;
    right: 490px;
    transform: translate(-50%, -50%);
    font-size: 3em;
}


.grey {
    filter: grayscale(100%);
}

break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

/******** Buttons **********/

.rules_button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #5591a9 5%, #9ccddc 100%);
	background-color:#5591a9;
	border-radius:5px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.rules_button:hover {
	background:linear-gradient(to bottom, #9ccddc 5%, #5591a9 100%);
	background-color:#9ccddc;
}
.rules_button:active {
	position:relative;
	top:1px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:22px 70px;
    text-align: center;
    height: 40px;
    line-height: 1px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
    background: rgb(6,44,67);
    background: linear-gradient(0deg, rgba(6,44,67,0.9) 0%, rgba(6,44,67,0.9) 31%, rgba(85,145,169,0.9) 100%);
	border-radius:3px;
    background-color:#5591a9;
    border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:22px 70px;
    text-align: center;
    height: 40px;
    line-height: 1px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #9ccddc 5%, #5591a9 100%);
	background-color:#9ccddc;
}
.myButton2:active {
	position:relative;
	top:1px;
}

#buttons {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


/******** Modal **********/

/* The Modal (background) */
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: rgb(6,44,67);
    background: linear-gradient(90deg, rgba(6,44,67,0.8) 0%, rgba(6,44,67,0.8) 31%, rgba(85,145,169,0.8) 100%);
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background: rgb(6,44,67);
    background: linear-gradient(90deg, rgba(6,44,67,0.8) 0%, rgba(6,44,67,0.8) 31%, rgba(85,145,169,0.8) 100%);
    color: white;
}

  /******** Start Modal overrides **********/

#myModal {
    display: block;
}

  /******** Discard Modal overrides **********/

.modal-equipment {
    background: rgb(6,44,67);
    background: linear-gradient(0deg, rgba(6,44,67,0.9) 0%, rgba(6,44,67,0.9) 31%, rgba(85,145,169,0.9) 100%);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    max-width: 100%;
    min-width: 10%;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    margin: 3em;
    font-family: "Syne Mono", monospace;
    font-size: 100%;
    color: #ced7e0;
}


#ship-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: baseline;
    position: relative;
    text-align: center;
    color: gold;
    font-size: 3em;
    
}