{% extends 'base.html' %}

{% block title %}--Welcome to The Siren{% endblock %}

{% block content %}
<div class="action_bar">
  <center>
    <form action="/rules">
      <button class = "rules_button">Rules</button>
    </form>
  </center>
</div>
<div class="main">
  <div></div>
  <div class= "lobby">
    <center>
      <p><h4>Getting Started:</h4><br>
        <h5>To Host a room</h5><br>
        Step 1 - Click &ldquo;Create Room&rdquo;<br>
        Step 2 - Pick a crew member for your game. If this is your first game, we suggest The Gunner.<br>
        Step 3 &ndash; Provide room code to the other players.</p>
        <form id="create">
        <button class="rules_button" id="create-button">Create Room</button>
        </form><br>
      <p><h5>To Join a room</h5>
        <br>
        Step 1 &ndash; Enter the <b>5 digit room code</b>, provided by the host, into the room code field and click join.<br>
      </p>
      <form id="join">
        <input type="text" inputmode="numeric" pattern="\d*" id="room" size="6">
        <button type="button" class="rules_button" id="join-button">Join</button>
      </form>
    </center>
  </div>
  <div></div>
</div>

<script src="/static/js/main.js"></script>

{% endblock %}